@media screen and (max-width: 375px){

    header{
        position: absolute;
        width: 375px;
        height: 630px;
        left: 0px;
        top: 0px;
    }

    #image-hero{
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 61.9%;
        width: 375px;
        height: 240px;
        background-image: url(./assets/mobile/image-hero.jpg);
    }

    #header-font-left{
        position: absolute;
        height: 110px;
        left: 4.27%;
        right: 4.27%;
        top: calc(50% - 110px/2 + 22px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 55px;
        text-transform: uppercase;
        color: #151515;
    }

    #header-font-right{
        position: absolute;
        height: 112px;
        left: 4.27%;
        right: 4.27%;
        top: calc(50% - 112px/2 + 165px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #444444;
    }

    #location{
        position: absolute;
        width: 260px;
        height: 72px;
        left: 16px;
        top: 558px;
    }

    #left-box{
        position: absolute;
        width: 204px;
        height: 72px;
        left: 0%;
        right: 41.33%;
        /* top: 88.57%; */
        bottom: 0%;
        background: #151515;
    }

    #location-font{
        position: absolute;
        height: 24px;
        left: 15.69%;
        right: 17.16%;
        top: calc(50% - 24px/2 - 20px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 3.63636px;
        color: #ffffff;
        text-transform: uppercase;
    }

    #right-box{
        position: absolute;
        width: 56px;
        height: 72px;
        left: 220px;
        top: 558px;
        background: #d5966c;
    }

    #location-path{
        position: absolute;
        left: 65.07%;
        right: 32.8%;
        top: 92.38%;
        bottom: 3.81%;
        border: 1px solid #ffffff;
        background: url(./assets/icon-arrow-right.svg);
    }

    #image-grid-1{
        position: absolute;
        width: 343px;
        height: 320px;
        left: 16px;
        top: 750px;
        background: url(./assets/mobile/image-grid-1.jpg);
    }

    #main-font-top{
        position: absolute;
        width: 343px;
        height: 223px;
        left: 16px;
        top: 1095px;
    }

    #main-font-top1{
        position: absolute;
        height: 90px;
        left: 0%;
        right: 0%;
        top: calc(50% - 90px/2 - 106.5px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
        text-transform: uppercase;
        color: #151515;
    }

    #main-font-top2{
        position: absolute;
        height: 112px;
        left: 0%;
        right: 0%;
        top: calc(50% - 112px/2 + 55.5px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #444444;
    }

    #image-grid-2{
        position: absolute;
        width: 343px;
        height: 480px;
        left: 16px;
        top: 1350px;
        background: url(./assets/mobile/image-grid-2.jpg);
    }

    #image-grid-3{
        position: absolute;
        width: 343px;
        height: 200px;
        left: 16px;
        top: 1846px;
        background: url(./assets/mobile/image-grid-3.jpg);
    }

    #box-down{
        position: absolute;
        width: 343px;
        height: 293px;
        left: 16px;
        top: 2062px;
        background: #151515;
    }

    #main-font-down{
        position: absolute;
        width: 295px;
        height: 198px;
        left: 40px;
        top: 2110px;
    }

    #main-font-down1{
        position: absolute;
        height: 90px;
        left: 0%;
        right: 0%;
        top: calc(50% - 90px/2 - 104px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
        text-transform: uppercase;
        color: #ffffff;
    }

    #main-font-down2{
        position: absolute;
        height: 84px;
        left: 0%;
        right: 0%;
        top: calc(50% - 84px/2 + 37px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
    }

    #footer{
        position: absolute;
        width: 375px;
        height: 336px;
        left: 0px;
        top: 2475px;
        background: #151515;
    }

    #footer-font{
        position: absolute;
        width: 311px;
        height: 240px;
        left: 32px;
        top: 2523px;
    }

    #footer-font-left{
        position: absolute;
        width: 110.05px;
        height: 40px;
        left: 0%;
        right: 64.61%;
        top: 0%;
        bottom: 83.33%;
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #footer-font-right{
        position: absolute;
        width: 311px;
        height: 104px;
        left: 0%;
        right: 0%;
        top: calc(50% - 104px/2 + 10px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
    }

    #footer-icon{
        position: absolute;
        width: 100px;
        height: 20px;
        left: 0px;
        top: 220px;
    }

    #fb-icon{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0%;
        right: 93.57%;
        top: 91.67%;
        bottom: 0%;
        background-image: url(./assets/icon-facebook.svg);
        /* background: #ffffff; */
    }

    #ig-icon{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 40px;
        /* left: 12.86%; */
        right: 80.71%;
        top: 91.67%;
        bottom: 0%;
        background-image: url(./assets/icon-instagram.svg);
    }

    #twitter-icon{
        position: absolute;
        width: 20px;
        height: 17px;
        left: 80px;
        /* left: 25.72%; */
        right: 67.85%;
        /* top: 92.6%; */
        top: 91.67%;
        /* bottom: 0.62%; */
        bottom: 0%;
        background-image: url(./assets/icon-twitter.svg);
    }


    /******************************************/
    /*                                        */
    /*       LOCATION PAGE CSS BELOW          */
    /*                                        */
    /******************************************/

    /* Map */
    #map{
        position: absolute;
        width: 375px;
        height: 550px;
        left: 0px;
        top: 0px;
        background-color: #fcfaf9;
        background-image: url(./assets/mobile/image-map.png);
    }

    /* Back to The Home Page */
    #back-home{
        position: absolute;
        width: 264px;
        height: 72px;
        left: 0px;
        top: 0px;
    }

    #back-home-left{
        position: absolute;
        width: 56px;
        height: 72px;
        left: 0px;
        top: 0px;
        background-color: #d5966c;
    }

    #back-arrow{
        position: absolute;
        width: 8px;
        height: 24px;
        left: 32px;
        top: 24px;
        border: 1px solid #ffffff;
        transform: rotate(180deg);
        background-image: url(./assets/icon-arrow-right.svg);
    }

    #back-home-right{
        position: absolute;
        width: 208px;
        height: 72px;
        left: 56px;
        top: 0px;
        background-color: #151515;
    }

    #back-home-font{
        position: absolute;
        height: 24px;
        left: 15.38%;
        right: 0%;
        top: calc(50% - 24px/2);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.63636px;
        color: #ffffff;
        text-transform: uppercase;
    }

    /* Location Page Main Page */
    #location-body-box{
        position: absolute;
        width: 375px;
        height: 493px;
        left: 0px;
        top: 550px;
        background-color: #151515;
    }

    #location-body-font{
        position: absolute;
        width: 343px;
        height: 389px;
        top: 598px;
        left: 16px;
    }

    /* Our Location Style */
    #location-body-font-left{
        position: absolute;
        height: 45px;
        left: 4.27%;
        right: 4.27%;
        top: 0px;
        /* top: calc(50% - 45px/2 + 176px); */
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
        text-transform: uppercase;
        color: #ffffff;
    }

    #location-address-font{
        position: absolute;
        left: 4.27%;
        right: 4.27%;
        top: 28.6%;
        bottom: 11.36%;
    }

    #king-street{
        position: absolute;
        height: 32px;
        left: 0%;
        right: 0%;
        top: calc(50% - 32px/2 - 132px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 32px;
        text-transform: uppercase;
        color: #d5966c;
    }

    #newport{
        position: absolute;
        height: 84px;
        left: 0%;
        right: 0%;
        top: calc(50% - 84px/2 - 54px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
    }

    #location-body-font-right{
        position: absolute;
        height: 140px;
        left: 16px;
        right: 16px;
        top: calc(50% - 140px/2 + 118px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
    }

    /* Location Footer Style */
    #location-footer{
        position: absolute;
        width: 375px;
        height: 336px;
        left: 0px;
        top: 1043px;
        background-color: #d5966c;
    }

    #location-footer-items{
        position: absolute;
        width: 311px;
        height: 240px;
        left: 32px;
        top: 1091px;
    }

    #location-footer-font-left{
        position: absolute;
        left: 0%;
        right: 64.61%;
        top: 0%;
        bottom: 83.33%;
        color: #151515;
        font-family: 'Big Shoulders Display';
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #location-footer-font-center{
        position: absolute;
        height: 104px;
        left: 0%;
        right: 0%;
        top: calc(50% - 104px/2 + 10px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: #151515;
    }

    #location-footer-icons{
        position: absolute;
        width: 100px;
        height: 20px;
        left: 0px;
        top: 220px;
    }

    #location-fb-icon{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0%;
        right: 93.57%;
        top: 91.67%;
        bottom: 0%;
        background-image: url(./assets/icon-facebook.svg);
    }

    #location-ig-icon{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 40px;
        right: 80.71%;
        top: 91.67%;
        bottom: 0%;
        background-image: url(./assets/icon-instagram.svg);
    }

    #location-twitter-icon{
        position: absolute;
        width: 20px;
        height: 17px;
        left: 80px;
        right: 67.85%;
        top: 92.6%;
        bottom: 0.62%;
        background-image: url(./assets/icon-twitter.svg);
    }
}