@media screen and (min-width:769px){
    body{
        position: relative;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        background: #ffffff;
    }
    
    header{
        position: absolute;
        width: 1275px;
        height: 800px;
        left: 0px;
        top: 0px;
    }
    
    #box-top{
        position: absolute;
        left: 0%;
        right: 64.71%;
        top: 0.12%;
        bottom: 0%;
        background: #151515;
        height: 799px;
        width: 450px;
        /* top: 1px; */
    }


    @media only screen and (max-width: 719px) {
        #box-top {
            background: none;
        }
        
    }
    
    #image-hero{
        position: absolute;
        left: 35.39%;
        right: 22.35%;
        top: 0%;
        bottom: 0%;
        background: url(./assets/desktop/image-hero.jpg);
        width: 540px;
        height: 800px;
    }

    #header-font-left{
        position: absolute;
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-size: 96px;
        font-weight: 900;
        line-height: 88px;
        color: #ffffff;
        height: 176px;
        width: 514px;
        left: 18.67%;
        right: -50.89%;
        top: calc(50% - 176px/2 - 122.5px);
        text-transform: uppercase;
    }
    
    #header-font-right{
        position: absolute;
        height: 160px;
        left: 72.55%;
        right: 0%;
        top: calc(50% - 160px/2 - 130px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #444444;
    }
    
    #location{
        position: absolute;
        width: 260px;
        height: 72px;
        left: 925px;
        top: 414px;
    }
    
    #location-font{
        position: absolute;
        height: 24px;
        left: 15.69%; 
        right: 17.16%;
        top: calc(50% - 24px/2 - 22px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.63636px;
        color: #ffffff;
        text-transform: uppercase;
    }
    
    #left-box{
        position: absolute;
        background: #151515;
        width: 204px;
        height: 72px;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
    }
    
    #right-box{
        position: absolute;
        background: #d5966c;
        width: 56px;
        height: 72px;
        left: 88.55%;
        right: 7.06%;
        top: 51.75%;
        bottom: 39.25%;
        top: 414px;
        left: 1129px;
    }

    /* CSS for changing location button color when clicked*/
    .index-page:active #left-box{
        background: #d5966c;
    }

    .index-page:active #right-box{
        background: #151515;
    }
    
    #location-path{
        position: absolute;
        width: 8px;
        height: 24px;
        left: 90.43%;
        right: 8.94%;
        top: 54.75%;
        bottom: 42.25%;
        border: 1px solid #ffffff;
        top: 438px;
        left: 1153px;
        background: url(./assets/icon-arrow-right.svg);
    }
    
    #main-font-top{
        position: absolute;
        width: 350px;
        height: 280px;
        left: 165px;
        top: 1040px;
    }
    
    #main-font-top1{
        position: absolute;
        height: 120px;
        left: 0%;
        right: 0%;
        top: calc(50% -120px/2 - 120px);
        /* top: -10%; */
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #151515;;
    }
    
    #main-font-top2{
       position: absolute;
       height: 128px;
       left: 0%;
       right: 0%;
       top: calc(50% - 128px/2 + 76px);
       font-family: 'Outfit';
       font-style: normal;
       font-weight: 300;
       font-size: 22px;
       line-height: 32px;
       color: #444444;
    }
    
    #image-grid-1{
        position: absolute;
        width: 635px;
        height: 400px;
        left: 640px;
        top: 980px;
        background: url(./assets/desktop/image-grid-1.jpg);
    }
    
    #image-grid-2{
        position: absolute;
        width: 635px;
        height: 720px;
        left: 165px;
        top: 1410px;
        background: url(./assets/desktop/image-grid-2.jpg);
    }
    
    #image-grid-3{
        position: absolute;
        width: 445px;
        height: 313px;
        left: 830px;
        top: 1410px;
        background: url(./assets/desktop/image-grid-3.jpg);
    }
    
    #box-down{
        position: absolute;
        width: 445px;
        height: 377px;
        left: 830px;
        top: 1753px;
        background: #151515;
    }
    
    #main-font-down{
        position: absolute;
        width: 350px;
        height: 248px;
        left: 878px;
        top: 1768px;
    }
    
    #main-font-down1{
        position: absolute;
        height: 120px;
        left: 0%;
        right: 0%;
        top: calc(50% - 120px/2 - 84px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 55px;
        text-transform: uppercase;
        color: #ffffff;
        /* color: #151515; */
    }
    
    #main-font-down2{
        position: absolute;
        height: 96px;
        left: 0%;
        right: 0%;
        top: calc(50% - 96px/2 + 96px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #ffffff;
        /* color: #151515; */
    }
    
    #footer{
        position: absolute;
        background: #151515;
        left: 0px;
        width: 1440px;
        height: 244px;
        top: 2310px;
    }
    
    #footer-font{
        position: absolute;
        width: 1110px;
        height: 84px;
        left: 165px;
        top: 2390px;
        color: #ffffff;
    }
    
    #footer-font-left{
        position: absolute;
        left: 0%;
        right: 78.14%;
        top: 0%;
        /* bottom: 30.95%; */
        color: #ffffff;
        width: 159.57px;
        height: 58px;
        font-size: 22px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        letter-spacing: 2px;;
    }
    
    #footer-font-right{
        position: absolute;
        height: 84px;
        width: 430px;
        left: 31.1%;
        right: 0%;
        top: 0%;
        /* bottom: 0%; */
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
    }
    
    #footer-icon{
        position: absolute;
        width: 100px;
        height: 20px;
        left: 1010px;
        top: 0%;
    }
    
    #fb-icon{
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    #ig-icon{
        position: absolute;
        left: 40px;
        top: 0px;
    }
    
    #twitter-icon{
        position: absolute;
        left: 80px;
        top: 0px;
    }

    .path:active{
        fill: #d5966c;
    }

    /******************************************/
    /*                                        */
    /*       LOCATION PAGE CSS BELOW          */
    /*                                        */
    /******************************************/
    
    /* Location Map */
    #map{
        position: absolute;
        width: 1440px;
        height: 600px;
        left: 0px;
        top: 0px;
        background-color: #444444;
        background: url(./assets/desktop/image-map.png);
    }
    
    /* Link to main page */
    #back-home{
        position: absolute;
        width: 264px;
        height: 72px;
        left: 156px;
        top: 0px;
    }
    
    #back-home-left{
        position: absolute;
        width: 56px;
        height: 72px;
        left: 0px;
        top: 0px;
        background: #d5966c;
    }
    
    #back-home-right{
        position: absolute;
        width: 208px;
        height: 72px;
        left: 56px;
        background: #151515;
    }
    
    #back-home-font{
        position: absolute;
        height: 24px;
        width: 180px;
        left: 15.38%;
        right: 16.83%;
        top: calc(50% - 24px/2);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.63636px;
        color: #ffffff;
        text-transform: uppercase;
    }
    
    #back-arrow{
        position: absolute;
        width: 8px;
        height: 24px;
        left: 24px;
        top: 24px;
        border: 1px solid #ffffff;
        transform: rotate(180deg);
        background: url(./assets/icon-arrow-right.svg);
    }

    /* CSS for changing location button to main page color when clicked*/
    .location:active #back-home-right{
        background: #d5966c;
    }

    .location:active #back-home-left{
        background: #151515;
    }
    
    /* Location Main Page */
    #location-body-box{
        position: absolute;
        width: 1440px;
        height: 548px;
        left: 0px;
        top: 600px;
        background: #151515;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    #location-body-font{
        position: absolute;
        width: 1110px;
        height: 316px;
        left: 165px;
        top: 704px;
    }
    
    #location-body-font-left{
        position: absolute;
        height: 140px;
        left: 0%;
        right: 68.47%;
        top: calc(50% - 140px/2 - 88px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
        text-transform: uppercase;
        color: #ffffff;
    }
    
    #location-address-font{
        position: absolute;
        left: 51.35%;
        right: 8.56%;
        top: 0%;
        bottom: 50.63%;
    }
    
    #king-street{
        position: absolute;
        height: 36px;
        left: 0%;
        right: 21.35%;
        top: calc(50% - 36px/2 - 60px);
        font-family: 'Big Shoulders Display';
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        color: #d5966c;
    }
    
    #newport{
        position: absolute;
        height: 96px;
        left: 0%;
        right: 0%;
        top: calc(50% - 96px/2 + 30px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #ffffff;
    }
    
    #location-body-font-right{
        position: absolute;
        height: 128px;
        left: 51.35%;
        right: 0%;
        top: calc(50% - 128px/2 + 94px);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #ffffff;
    }
    
    /* Footer Style */
    #location-footer{
        position: absolute;
        width: 1440px;
        height: 244px;
        left: 0px;
        top: 1148px;
        background: #d5966c;
    }
    
    #location-footer-items{
        position: absolute;
        width: 1110px;
        height: 84px;
        left: 165px;
        top: 1228px;
    }
    
    #location-footer-items-left{
        position: absolute;
        width: 730px;
        height: 84px;
        left: 165px;
        top: 0px;
    }
    
    /* Modern Art Gallery */
    #location-footer-font-left{
        position: absolute;
        left: 0%;
        right: 78.14%;
        top: 0%;
        bottom: 30.95%;
        color: #151515;
        height: 58px;
        width: 159.57px;
        font-size: 22px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: 'Big Shoulders Display';
        letter-spacing: 2px;
    }
    
    #location-footer-font-center{
        position: absolute;
        height: 84px;
        left: 41.1%;
        right: 0%;
        top: calc(50% - 84px/2);
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #151515;
    }
    
    /* Footer Icons */
    #location-footer-icons{
        position: absolute;
        width: 100px;
        height: 20px;
        left: 991px;
        top: 0px;
    }
    
    #location-fb-icon{
        background-image: url(./assets/icon-facebook.svg);
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0px;
        top: 0px;
        fill: #151515;
    }
    
    #location-ig-icon{
        background-image: url(./assets/icon-instagram.svg);
        position: absolute;
        width: 20px;
        height: 20px;
        left: 40px;
        top: 0px;
        fill: #151515;
    }
    
    #location-twitter-icon{
        background-image: url(./assets/icon-twitter.svg);
        position: absolute;
        width: 20px;
        height: 17px;
        left: 80px;
        top: 0px;
        /* fill: #151515; */
    }

    .location-path:active{
        fill: #ffffff;
    }
    
}

