*{
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    /* overflow: hidden; */
}

/* html, body{
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background: #ffffff;
} */

/* @media screen (min-width: 781px) {
    body{
        width: 100%;
    }
} */

/*************************************/
/* Styling For Laptop & Desktop View */
/*************************************/
/* @media only screen and (min-width: 781px) { */
    /* html, body{ */
        /* width: 100%; */
        /* height: 100%; */
        /* margin: 0; */
        /* padding: 0; */
        /* overflow-x: hidden; */
    /* } */
    
    @media only screen and (max-width: 768px) {
        .black-box {
            background: none;
        }
        
    }

    /* #top{
       position: absolute;
       width: 1440px;
       height: 800px;   
    } */

    /* Top Styling */

    .header{
        position: absolute;
        color: #ffffff;
    }

    .black-box{
        position: absolute;
        width: 450px;
        height: 800px;
        left: 0;
        top: 0;
        background: #151515;
    }

    .image-hero{
        position: absolute;
        width: 540px;
        height: 800px;
        left: 450px;
        top: 0;
        background: url(./assets/desktop/image-hero.jpg);
    }

    .header-text-one{
        position: absolute;
        top: 190px;
        left: 165px;
        width: 544px;
        height: 196px;
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 106px;
        line-height: 98px;
        text-transform: uppercase;
        letter-spacing: 1px;
        /* background: linear-gradient(90deg, #ffffff 55.4%, #151515 30%); */
        background: linear-gradient(to right, #ffffff 52.3%, #151515 30%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .header-text-two{
        position: absolute;
        top: 190px;
        left: 925px;
        width: 360px;
        height: 160px;
        color: #444444;
        font-family: 'Outfit';
        font-size: 22px;
        line-height: 32px;
    }

    .map-location{
        position: absolute;
        top: 414px;
        left: 925px;
        width: 260px;
        height: 72px;
    }

    .left-box{
        position: absolute;
        top: 0;
        left: 0;
        width: 204px;
        height: 72px;
        background-color: #151515;
    }

    .right-box{
        position: absolute;
        top: 0;
        left: 204px;
        width: 56px;
        height: 72px;
        background-color: #d5966c;
        display: grid;
        place-items: center;
    }

    .location-text{
        position: absolute;
        top: 24px;
        left: 32px;
        color: #ffffff;
        font-family: 'Big Shoulders Display';
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 3.63px;
        text-transform: uppercase;
    }

    .index-page:hover .left-box{
        background-color: #d5966c;
    }

    .index-page:hover .right-box{
        background-color: #151515;
    }

    /* Middle Styling */
    #middle{
        position: absolute;
        max-width: 1110px;
        height: 1150px;
        left: 165px;
        right: 164px;
        top: 980px;
    }

    .main-text-top{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        left: 0;
        gap: 20px;
        top: 50px;
        height: 280px;
        width: 350px;
    }

    .main-text-top1{
        /* position: absolute; */
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 84px;
        line-height: 80px;
        color: #151515;
        text-transform: uppercase;
    }

    .main-text-top2{
        /* position: absolute; */
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
        color: #444444;
    }

    .image-grid-1{
        position: absolute;
        left: 475px;
        top: 0;
        width: 635px;
        height: 400px;
        background-image: url(./assets/desktop/image-grid-1.jpg);
    }

    .image-grid-2{
        position: absolute;
        top: 430px;
        left: 0;
        width: 635px;
        height: 720px;
        background-image: url(./assets/desktop/image-grid-2.jpg);
    }

    .image-grid-3{
        position: absolute;
        width: 445px;
        height: 313px;
        top: 430px;
        left: 665px;
        background-image: url(./assets/desktop/image-grid-3.jpg);
    }

    .box-down{
        position: absolute;
        width: 445px;
        height: 377px;
        top: 773px;
        left: 665px;
        background-color: #151515;
        display: grid;
        place-items: center;
    }

    .main-text-down{
        position: absolute;
        width: 350px;
        height: 288px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        color: #ffffff;
    }

    .main-text-down1{
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 84px;
        line-height: 80px;
        text-transform: uppercase;
    }

    .main-text-down2{
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
    }

    /* Footer Styling */
    #footer{
        position: absolute;
        width: 1440px;
        height: 244px;
        color: #ffffff;
        background-color: #151515;
        top: 2440px;
    }

    .footer{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1110px;
        height: 84px;
        left: 165px;
        top: 80px;
    }

    .footer-text-one{
        /* position: absolute; */
        width: 160px;
        height: 80px;
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: xx-large;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .footer-text-two{
        /* position: absolute; */
        width: 430px;
        height: 84px;
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }

    .footer-icon{
        display: flex;
        justify-content: space-between;
        width: 100px;
    }

    .icon:hover .path{
        fill: #d5966c;
    }


    /* Location Page Styling */
    .flex{
        max-width: 1440px;
        height: 1392px;
        display: flex;
        flex-direction: column;
    }

    /* Location Top Content Styling */
    .location-top{
        width: 1440px;
        height: 600px;
    }

    .map{
        position: absolute;
        /* width: 100vw; */
        width: 1440px;
        height: 600px;
        background-image: url(./assets/desktop/image-map.png);
    }

    .back{
        position: absolute;
        width: 264px;
        height: 72px;
        left: 156px;
        top: 0;
    }

    .back-left{
        position: absolute;
        width: 56px;
        height: 72px;
        left: 0;
        background-color: #d5966c;
        display: grid;
        place-items: center;
    }

    .back-right{
        position: absolute;
        width: 208px;
        height: 72px;
        left: 56px;
        top: 0;
        background-color: #151515;
    }

    .back-font{
        position: absolute;
        top: 24px;
        left: 32px;
        color: #ffffff;
        font-family: 'Big Shoulders Display';
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 3.63px;
        text-transform: uppercase;
    }

    .location:hover .back-left{
        background-color: #151515;
    }

    .location:hover .back-right{
        background-color: #d5966c;
    }

    /* Location Middle Content Styling */
    .location-middle{
        width: 1440px;
        height: 548px;
        background-color: #151515;
        display: flex;
        place-items: center;
        /* justify-items: center; */
        justify-content: center;
    }

    .location-body-box{
        width: 1110px;
        height: 316px;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .location-body-font{
        width: 310px;
        height: 140px;
        color: #ffffff;
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .location-address-font{
        width: 540px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .king-street{
        font-family: 'Big Shoulders Display';
        font-size: 36px;
        font-weight: 900;
        color: #d5966c;
        text-transform: uppercase;
    }

    .newport{
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 22px;
    }

    .location-body-font-right{
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 22px;
    }

    /* Location Footer Content Styling */
    .location-bottom{
        width: 1440px;
        height: 244px;
        background-color: #d5966c;
    }

    .location-footer{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1110px;
        height: 84px;
        left: 165px;
        margin-top: 80px;
    }

    .location-footer-font-one{
        width: 160px;
        height: 80px;
        font-family: 'Big Shoulders Display';
        font-weight: 900;
        font-size: xx-large;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .location-footer-font-two{
        width: 430px;
        height: 84px;
        font-family: 'Outfit';
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }

    .location-footer-icons{
        display: flex;
        justify-content: space-between;
        width: 100px;
        height: 20px;
    }

    .location-icon:hover .location-path{
        fill: #ffffff;
    }

/* } */


/***************************/
/* Styling For Tablet View */
/***************************/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    
}

/***************************/
/* Styling For Mobile View */
/***************************/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    
}